@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.formacao{
    background-color: rgb(120, 120, 120);
    height: 100vh;
}

#titulo-cert{
    text-transform: uppercase;
    font-family: serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    border: 1px solid;
  }

  .apresentacao{
   
 
    width: 100%;
    height:100%;

  }



 

.card-1{
    display: inline-block;
    margin-top: 10px;
    background-color: black;
    margin-left: 20px;
    border-radius: 10px;
    width: 200px;
    height: 200px;


  }



.img{
    display: absolute;
   
    margin: 1px;
    border-radius: 10px;
    background-color: blue;

    width: auto;
    height: 150px;
}

.cert-nome{
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1px;
    width: 198px;
    height: 30px;

}