@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.formacao{
    background-color: #000;
    height: 150vh;
}

.conteudo-cer{
width: 800px;
position: relative;
top: 60px;
left: 50px;
color: var(--white);
font-family: poppins;
font-size: 20px;
text-transform: uppercase;

}

#titu-for{
    background-color: white;
    text-align: center;
    position: relative;
    top: 100px;
}

#for-cont{
    text-align: center;
    position: relative;
    top: 110px;
    font-size: 20px;
   
    background-color:  #203546 ;
    box-shadow: 0 0 10px #20313f, 0 0 40px #273a4a, 0 0 80px #182d3e;
    color: #fff;
    border-radius: 10px;
}


#titu-cer{
    background-color: rgb(201, 198, 198);
    text-align: center;
    position: relative;
    top: 120px;
}

#carouselExampleCaptions{
    position: relative;
    top: 115px;
    left: 350px;
    width: 700px;
    height: 400px;
}

#carouselExampleCaptions h5{
    color: rgb(255, 253, 253);
    text-transform: uppercase;
}

#carouselExampleCaptions a{
 
    text-transform: uppercase;

    width: 10px;
}

