:root {
    --green: #628E75;
    --white: #f9f9f9;
    --back: #000;
    
  }
  
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
body {
    height:100%; 
    width:100%;
 }

html {
  scroll-behavior: smooth;
}

.menu{
  display: flex;
  justify-content: center;
  background-color: rgb(120, 120, 120);

 
  
  
}

#cabecalho-menu{
  display: flex;
  gap: 42px;

}

.item-menu{
  text-decoration: none;
  font-family: serif;
  color: white;
  
  font-size: 25px;

}


.item-menu:hover{
  color: black;
}


.inicio{
 background-color: rgb(120, 120, 120);
    height: 100vh;
    Width: 100%;
    transition: all .5s;
    border-top: 2px solid white;

 }
        .dow-cv{
          position: absolute;
          left: 50px;
          top: 500px;
          width: 300px;
          height: 70px;
          background-color: rgb(120, 120, 120);
          color: var(--white);
          border: 2px solid;
          border-radius: 50px;
          font-family: poppins;
          font-size: 20px;
          cursor: pointer;
          background-image: url(../image/icons8-download-da-nuvem-24.png);
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: 10px;
         
        
        }
  
      
  
      
      
        .dow-cv:hover{
          cursor: pointer;
          color: #ffffff;
          background: black;
    
          box-shadow: 0 0 10px #d3d8db, 0 0 40px #d3d8db, 0 0 80px #d3d8db;
          background-image: url(../image/icons8-download-da-nuvem-24.png);
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: 10px;
          
        }
   
    
          
          .text-inicio{
            position: absolute;
            font-size: 40px;
            color: var(--white);
            top: 150px;
            left: 50px;
            width: 500px;
            color: #fff;
            border-radius: 10px;
            text-transform: uppercase;
            font-family:serif;
            
          
          }
    
        
        #esconder{
            position: absolute;
            top: 280px;
            left: 50px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            width: 300px;
            height: 50px;
            background-color: rgb(120, 120, 120);
            color: white;
            border: 2px solid ;
            border-radius: 10px;
            font-size: 20px;
            font-family:serif;
            
        }
        #esconder:hover{
            cursor: pointer;
            background-color: black;
            color: white;
            box-shadow: 0 0 10px #d3d8db, 0 0 40px #d3d8db, 0 0 80px #d3d8db;
          }

          .for{


            position: absolute;
            top: 200px;
            left: 650px;
            padding: 15px;
            text-align: center;
            border-radius: 10px;
            border: 2px solid;
            display: none;
            font-family: poppins;
            width: 600px;
            margin-top: 10px;
            background-color: black;
            color: #fff;
            }
 
            #image-sobre{
             width: 280px;
             position: absolute;
             left: 700px;
             margin-top: 70px;
             display: block;
             background-repeat: no-repeat;
             ;
            }

