*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face{
    font-family: poppins;
    src: url(/fonts/Poppins-Bold.ttf);
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 5s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 60px;

}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: poppins;
  
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 5s;

}
.port{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 30%;

}